*{
    margin: 0;
    padding: 0;
}
.nav{
    background: blue;

}

.header{
    /* padding: 0,20px ; */
    width: 90%;
    margin: 0 auto;
    background: red;
    text-align: center;
}
.table{
    text-align: center;
    width:100%;
}