<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <section class="nav">
        <p>所在班级：</p>
        <input type="checkbox">
        <label for="1">一班</label>
        <input type="checkbox">
        <label for="2">二班</label>
        <input type="checkbox">
        <label for="3">三班</label>
        <input type="checkbox">
        <label for="4">四班</label>
        <input type="checkbox">
        <label for="5">五班</label>
    </section>
    <section class="header">
        <h1 class="header-1">
            机器人自动化处理问题
        </h1>
        <table border="1" class="table">

            <tr>
                <th>礼拜一</th>
                <th>礼拜二</th>
                <th>礼拜三</th>
                <th>礼拜四</th>
            </tr>
            <tr>
                <th>一号</th>
                <th>二号</th>
                <th>三号</th>
                <th>四号</th>
                <tr>
                </tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th colspan="2">5</th>

            </tr>
     
            <td>
                <th>fd
<input type="checkbox"><label for="6">ff</label>
<input type="checkbox"><label for="6">ff</label>
<input type="checkbox"><label for="6">ff</label>
<input type="checkbox"><label for="6">gg</label>
<select name="container" id="container">
    <option value="vovo">vovo</option>
    <option value="vovo">audi</option>
    <option value="vovo">ben</option>
    <option value="vovo" selected>bmw</option>
</select>
                </th>
                <th>fd</th>
                <th>fd</th>
                <th>fd</th>
            </td>

        </table>

    </section>


    <section>

        <table border="1"  style="width:100%"> 
<caption>机器人</caption>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </table>
    </section>

    <section>


            <table border="1"  style="width:100%">
                    <caption> 熊德伟</caption>
                    <thead>
                        <tr>
                            <th>a</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>b</td>
                            <th>b</th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>c</td>
                        </tr>
                    </tfoot>
                </table>
    </section>


</body>

</html>